# Ignore Data Files
Raw_data/
Clean_data/
*.csv

# Keep the data folder structure but not the files
!Raw_data/.gitkeep
!Clean_data/.gitkeep

# Ignore System/Cache Files
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Ignore Virtual Environments
.venv/
env/
